@import "tailwindcss";

@theme {
  --color-mint-50: #f0fdfa;
  --color-mint-100: #ccfbf1;
  --color-mint-200: #99f6e4;
  --color-mint-300: #5eead4;
  --color-mint-400: #2dd4bf;
  --color-mint-500: #14b8a6;
}
